
  .page-header {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 8px #f0f1f2;
    z-index: 10;
    padding: 0;
    height: 161px;
    background: #00a94f url("../header_bg.png") 50% 0; 
  }
  
  .app-title-img{
    float: left;
    padding-left: 40px;
    max-height:50px;
    padding-top: 10px;
    width: auto;
  }

  .crc-title-img{
    float: left;
    padding-left: 40px;
    max-height:125px;
    width: auto;
  }
  
  .app-header {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 8px #f0f1f2;
    z-index: 10;
    padding: 0;
    margin-top: 120px;
    background-color: #ffffff;
  }

  .headertagline {
    float: right;
    position: relative;
    top: 35px;
    background: transparent;
    color: #fff;
    font-weight: 700;
    font-family: "PT Sans";
    font-style: italic;
    width: 500px;
    text-align: right;
    padding-right: 100px;
    text-shadow: 2px 2px 4px #333; 
  }
  
  .app-menu {
    float: right;
  }
  
  .app-menu > li {
    padding: 0 20px;
  }

  .app-menu > li > a {
    padding: 0 20px;
    margin: 0 -20px;
  }

  .app-menu > li > a > i {
    margin-right: 0 !important;
  }

  .profile-dropdown-menu {
    min-width: 180px;
  }

  .profile-menu .user-full-name-info {
    font-size: 17px;
    font-weight: 600;
    color: rgba(0,0,0,0.85);
  }
  
  .profile-menu .username-info {
    font-size: 14px;
    color: rgba(0,0,0,0.65);
  }

  .dropdown-item {
    padding: 10px 12px;
  }

  .dropdown-item a {
    padding: 10px 12px;
    margin: -10px -12px;
  }
  
  .nav-icon {
    font-size: 20px;
  }

  .poll-icon {
    margin-top: -4px;
  }

@media (max-width: 768px) {
  .app-title a {
    font-size: 20px;
  }

  .app-menu > li {
    padding: 0 15px;
  }

  .app-menu > li > a {
    padding: 0 15px;
    margin: 0 -15px;
  }
}  