.home-container {
    width: 1000px;
    margin-top: 40px;
    padding-bottom: 20px;
}

.page-title {
    background-color: #f8faf7;
}

.gutter-container .ant-row > div {
    background: transparent;
    border: 0;
    margin-top: 20px;
}

.gutter-box {
    padding: 5px 0;
    text-align: center;
}

.gutter-button {
    width: 100%;
    height: 100px;
    padding: 5px 0;
    text-align: center;
}

.site-details-box {
    margin-bottom: 32px;
}

.about-title {
    margin-top: 32px;
    margin-left: 28px;
}

.about-points-box {
    margin-top: 32px;
}

.search-box {
    margin-top: 32px;
    margin-right: 28px;
    margin-bottom: 24px;
}

.project-box {
    border-radius: 12px;
  border: 1px solid #73AD21;
  padding: 16px;
  width: 240px;
  height: 110px;
}

a.fill-div {
    display: block;
    height: 60px;
    width: 100%;
    text-decoration: none;
}