.user-home-container {
    max-width: 1000px;
    margin-top: 40px;
    padding-bottom: 20px;
}

.user-list-page-title {
    margin-bottom: 20px;
}

.user-list-name-link {
    text-decoration: underline;
}

.user-list-delete-link {
    color: red;
}